<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <title>Welcome to cryptic world</title>
  </head>
  <body>
    <!-- <div class="overlay"></div> -->
    <nav class="navbar navbar-dark bg-dark justify-content-center">
      <span class="navbar-text">
        Made with <i class="fa fa-heart pulse"></i> by <a href="https://www.google.de/maps/place/Augsburger+Puppenkiste/@48.360357,10.903245,17z/data=!3m1!4b1!4m2!3m1!1s0x479e98006610a511:0x73ac6b9f80c4048f" target="_blank">Sourajeet Mohanty</a>    
        </span>
    </nav>
    <section class="section_all bg-light" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section_title_all text-center">
                      <h3 class="font-weight-bold">Welcome To <span class="text-custom">the world of CRYPTOGRAPHY</span></h3>
                      <p class="section-subtitle mx-auto ">Cryptography involves creating written or generated codes that allow information to be kept secret. Cryptography converts data into a format that is unreadable for an unauthorized user, allowing it to be transmitted without unauthorized entities decoding it back into a readable format, thus compromising the data. </p>
                      <div class="">
                          <i class=""></i>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row vertical_content_manage mt-5">
              <div class="col-lg-6">
                  <div class="about_header_main mt-3">
                      <div class="about_icon_box">
                   
                      </div>
                      <br></br>
                      <br></br>
                      <p class="about_heading text-capitalize font-weight-bold mt-4">  
                        If you reveal your secrets to the wind, you should not blame the wind for revealing them to the trees.   -Kahlil Gibran</>
                      

                     
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="img_about mt-3">
                      <img src="/images/cp.jpg" class="img-fluid" alt=""  width="450" height="300">
                  </div>
              </div>
          </div>

          <div class="row mt-3">
              <div class="col-lg-3">
                  <div class="about_content_box_all mt-3">
                      <div class="about_detail text-center">
                          <a href="/ceaser">
                              <div class="about_icon">
                                <img src="/images/encryption.png">
                                <h5 class="text-light text-capitalize mt-3 font-weight-bold">CEASER CIPHER</h5>
                              </div>
                          </a>
                      
                      </div>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div class="about_content_box_all mt-3">
                      <div class="about_detail text-center">
                          <a href="/vigenere">
                              <div class="about_icon">
                                <img src="/images/encryption.png">
                                <h5 class="text-light text-capitalize mt-3 font-weight-bold">VIGENERE CIPHER</h5>
                              </div>
                          </a>
                       
                      </div>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div class="about_content_box_all mt-3">
                      <div class="about_detail text-center">
                          <a href="/vernam">
                              <div class="about_icon">
                                <img src="/images/encryption.png">
                                <h5 class="text-light text-capitalize mt-3 font-weight-bold">VERNAM CIPHER</h5>
                              </div>
                          </a>
                          
                      </div>
                  </div>
              </div>

              <div class="col-lg-3">
                <div class="about_content_box_all mt-3">
                    <div class="about_detail text-center">
                        <a href="/xor">
                            <div class="about_icon">
                                <img src="/images/encryption.png">
                                <h5 class="text-light text-capitalize mt-3 font-weight-bold">XOR CIPHER</h5>
                            </div>
                        </a>
                       
                    </div>
                </div>
            </div>
          </div>
      </div>
  </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>